<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fx2.database.dao.account.AdminDao">
    <!--根据用户名查询账户信息(登录和其他使用)-->
    <select id="getUsernameInfo" resultType="java.util.Map">
        select * from fx2_admin where username = #{username}
    </select>
</mapper>